﻿body{
	
}
 
 html{
 background-color:black;
}


#rahmen{
	width:1200px;
	height:820px;
	background-color:transparent;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
}
#main{
	width:1200px;
	height:780px;
	margin-left:auto;
	margin-right:auto;
	
	background-image:url('../pixx/orange.jpg');
	
	background-attachment:inherit;
	background-position:center;
}	
#rahmen2
{
	width:1300px;
	height:100000px;
	
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight:bolder;
	font-style:italic;
	text-align:center;
	font-size:large;
	background-image:url('../pixx/aqua.jpg');
	border:thick;
	border-style:outset;
	border-color:black;
	border-color:ThreeDDarkShadow;

}

	
	
}
.login
{
	border:thick;
	border-style:groove;
	 border-color:ThreeDLightShadow;
}
.login2
{
	border:thick;
	border-style:groove;
	 border-color:ThreeDLightShadow;
	 
}

.login3
{
	border:thick;
	border-style:outset;
	 border-color:ThreeDLightShadow;
}


.save
{	border-color:black;
	border-style:groove;
	border-color:ThreeDDarkShadow;
	background-color:#666699;
	margin-left:20px;
	margin-top:20px;
	
}

#loginbereich
	{
	width:1250px;
	height:1500px;
	margin-left:auto;
	margin-right:auto;
	background-image:url('<?php echo $userimage_text; ?>');
	background-position:center;

	
	}
	
	#gb
	{
	margin-left:800px
}
.buch
{
	
}

	#haupt1
	{

	width:1200px;
	height:780px;
	margin-left:auto;
	margin-right:auto;
	

	background-position:center;
	background-image:url('../pixx/aqua.jpg');


}
	#haupt2
	{

	width:200px;
	height:780px;
	margin-left:auto;
	margin-right:auto;
	
	
	background-position:center;
	background-image:url('../pixx/aqua.jpg');

}

.ausgabe table
{
	border:solid 1px;

	border:thick;
	
	border-color:black;
	background-color:gray;
	
	border-collapse:separate;

}

.ausgabe tr
{
	padding:10px;
	border:solid 1px;
	border:thick;
	
	border-color:black;
	
	background-color:gray;
	border-style:groove;
	border-style:double;
	
}

.ausgabe td
{
	padding:10px;
	border:solid 1px;

	border:thick;
		border-style:groove;
	border-style:double;

	border-color:black;
	background-color:gray;
}


	
.ausgabe
{
	margin-left:auto;
	margin-right:auto;
}

	.name
	{
	border:thick;
	border-style:groove;
	border-color:ThreeDDarkShadow;
	border-color:black;
}
	.email
	{
	border:thick;
	border-style:groove;
	border-color:ThreeDDarkShadow;
	border-color:black;
}


	.eingabe
	{
	border:thick;
	border-style:groove;
	border-color:ThreeDDarkShadow;
	border-color:black;
	background-color:ThreeDShadow;
	width:400px;
	height:150px;
}

.test
{
	border:thick;
	border-style:outset;
	border-color:black;
}
	#rahmen3{
	width:1250px;
	height:500px;
	background-color:transparent;
	margin-left:auto;
	margin-right:auto;
}
	#reg
{
	width:1200px;
	height:600px;
	background-image:url('../pixx/joggerbest.jpg'); background-repeat:repeat-x;background-position:center;margin-left:auto;margin-right:auto;
	padding-top:20px;
	padding-bottom:20px;
}


	.register
	{
	width:150px;
	height:110px;
	margin-top:200px;
	margin-left:auto;
	margin-right:auto;
	border:thick;
	
	border-style:groove;
	border-color:black;
	border-color:ThreeDDarkShadow;
	border-style:ridge;
	}
	
	.signup
{
	border:thick black double;
	width:200px;
	height:70px; 
	float:left;
	margin-left:400px;
	

}
	
	.register.signup
	{
	border:thick black double;
	width:200px;
	height:70px; 
	float:right;
	margin-left:400px;
	}

	#center
	{
	width:1200px;
	height:820px;
	background-color:transparent;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	background-image:url('../pixx/jogger.jpg');
}
	.text
	{
	font-style:italic;
	text-decoration:blink;
	color:#000000;
	font-weight:bolder;
	margin-left:100px;

	
	
}
.ok
	{
	background-color:#333333;
	border:thick;
	border-style:double;
	border-color:black;
	margin-left:980px;
	margin-top:30px;
	text-align:center;
}